<h3>{{title}} - {{displayQuery}} - Page: {{displayPage}} of {{totalPages}}</h3>

<form novalidate [formGroup]="form" (ngSubmit)="sendQuery()">

  <div *ngFor="let control of form.searchControls">
      <div class="form-group">
          <label>{{control.label}}</label>
          <input name={{control.modelProperty}} 
                 class="form-control" 
                 placeholder="Enter {{control.label}} Here"
                 formControlName="{{control.modelProperty}}" />
          <ul *ngIf="(formSubmitted || control.dirty) && control.invalid">
            <li *ngFor="let error of control.getValidationErrors()">{{error}}</li>
          </ul>
        </div>

  </div>
  
  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>

<div *ngIf="searchResults; else elseTemplate">
  <button (click)="prevPage()">Prev Page</button>
  <button (click)="nextPage()">Next Page</button>
  <ul class="list">
    <app-repository-display [searchResults]="searchResults.repositories"
                            [favorites]="favorites" 
                            (updateFavorites)="handleFavorite($event)"
                            *ngIf="searchResults.repositories"
                            appFade></app-repository-display>
    <app-code-display [searchResults]="searchResults.code" 
                      [favorites]="favorites" 
                      (updateFavorites)="handleFavorite($event)"
                      *ngIf="searchResults.code"
                      appFade></app-code-display>
  </ul>
</div>
<ng-template #elseTemplate>Loading ...</ng-template>